.mobProduktText {
    font-size: 1.3em;
}

.my-produkt {
    display: none;
}


.ProduktFlexBox {
    display: flex;
    padding-left: 2%;
    padding-top: 2%;
}

    
    .ProduktFlexBox {
        
    }


.bollerwagen {
    border-radius: 20px;
}


.ProduktImage {
    width: 33%;
}

.Placeholder {
    width: "30%";
}

.Shop {
    text-align: center;
    font-size: 5em;
    padding-bottom: 90px;
    padding-top: 20px;
    
}
.ProduktText {
 font-size: 1em;
padding-left: 20px;
    width: 55%
}

p {
    padding-bottom: 15px;
}

h2 {
    padding-bottom: 10px;
}

.fa-cart-plus  {
    font-size: 300%;
    padding-top: 15px;

    padding-bottom: 16px;
        width: 100%;
}
.PlusCart {
    background-color: limegreen;
    text-align: center;
    width: 100%;
    height: 30%px;
}


.buttontext {
    text-align: center;
}

if (document.getElementById) {
	var x = document.getElementById("lagerbestand");
	if ('lagerbestand <= 0') {
		();
	}
}
.fa-star, .fa-star-half-alt {
    padding-right: 5px;
    font-size: 25px;
    color: gold;
}

.fa-cart-plus {
    color: black;
}

.mobProduktImage {
    padding-top: 4%;
}

/*--------------------------
            Responsive Design
            --------------------*/

@media only screen and (min-width: 600px) {
    .mobmy-produkt {
        display: none;
    }
    .my-produkt {
        display: block;
    }

    .PlusCart :hover {
        background-color: darkred;
    }  

}
