/*------------------
                Reset
             -------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
  height: 58px;
}

/*---------------------
Navigation
---------------------*/
nav.mobile-nav,
nav.main-nav {
  position: fixed;
  width: 100%;
  background-color: #000;
  padding-bottom: 20px;
  top: 0;
}

h1 {
    font-family: 'Monoton', cursive;
}

h2, h3, h4, p{
font-family: 'Orbitron', cursive;

}

nav.main-nav ul {
  display: flex;
  list-style-type: none;
  height: 100%;
}

nav.main-nav ul li {
  padding-left: 20px;
  margin-top: 20px;
}

nav.mobile-nav ul li a,
nav.main-nav ul li a {
  color: #fff;
  text-decoration: none;
  background-color: rgb(255, 128, 0);
  padding: 4px 10px;
}

nav.mobile-nav ul li a:hover,
nav.main-nav ul li a:hover {
  background-color: cadetblue;
  text-decoration: none;
}

nav.mobile-nav {
  display: flex;
  flex-wrap: wrap;
  z-index: 11;
  height: 50px;
  overflow-y: hidden;
}

nav.mobile-nav ul {
  width: 100%;
}

nav.mobile-nav ul li a {
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.8);
  color: #000;
  font-size: 2.5em;
  font-family: Orbitron;
  width: 100%;
}

.burger-icon {
  width: 25%;
  height: 50px;
  background-color: #000;
  color: #fff;
  padding: 20px 0 0 10px;
  font-size: 1.3em;
}


/*-------------------
                Layout
             -------------------*/

.logo {
  width: 50%;
  text-align:center;
  padding-top: 8px;
}

.logo img {
  width: 80%;
}

.container {
  text-align: center;
}


/* Produkt Anfang */
.product {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 240px;
    height: 340px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.25);
    border-radius: 5px;
    overflow: hidden;
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box;
}

.product .imgbox img {
    display: block;
    width: 70%;
    margin: 20px auto 0;
}

.details {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: -150px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: .5s;
}

.product:hover .details {
    bottom: 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0,.25);
}

.details h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

.details h2 span {
    font-size: 14px;
    color: #262626;
    font-weight: normal;
}

.details .price {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
}

.details label {
    display: block;
    margin-top: 13px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
}

.details ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.details ul li {
    list-style: none;
    margin: 5px 5px 0;
    font-size: 12px;
    font-weight: normal;
    color: #262626;
}

.details ul li:first-child {
    margin-left: 0;
}

ul.colors li {
    width: 16px;
    height: 16px;
}

.colors p {
    list-style: none;
    margin: 5px 5px 0;
    font-size: 12px;
    font-weight: normal;
    color: #262626;
}

/* Farbfelder Anfang */
ul.colors li:nth-child(1) {
    background: green;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.25);
}
/* Farbfelder Ende */
.details a {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 15px 0 0;
    background: #dc3545;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.details a:hover {
    color: #fff;
    background-color: #cf000f;
    text-decoration: none;
}
/* Produkt Ende */
/*------------------
            Color & Style
             -------------------*/

body {
    background-color: cadetblue;
}

.fa-check-circle {
  color: green;
}
.fa-times-circle {
    color:red
}

/*--------------------------
            Responsive Design
            --------------------*/
@media only screen and (min-width: 600px) {
  nav.mobile-nav {
    display: none;
  }

  nav.main-nav {
    display: inline-block;
  }
}
