/*------------------
                Reset
             -------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
    /*-------------------
                Layout
             -------------------*/
    
    
    /*------------------
            Color & Style
             -------------------*/
    
body {
    background-color: cadetblue;
}
    
    /*--------------------------
            Responsive Design
            --------------------*/