/*------------------
                Reset
             -------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
  height: 58px;
}

/*---------------------
Navigation
---------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: #000;
    box-sizing: border-box;
    z-index: 10;
  }

h1 {
    font-family: 'Monoton', cursive;
}

h2, h3, h4, p, table,div{
  font-family: 'Orbitron', cursive;
}

nav .logo {
    float: right;
}

nav .logo img {
    height: 80px;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}
/*Kategorien (Name, Farbe)*/
nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
}

/*Home Buttom Hintergrundfarbe und Hoverfarbe*/
nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: cadetblue;
    text-decoration: none;
}

/*-------------------
                Layout
             -------------------*/

.mobile-nav {
    display: none;
    width: 100%;
    height: 60px;
    background: #262626;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    z-index: 11;
}

.mobile-nav .logo img {
    float: left;
    height: 50px;
}

.mobile-nav .burger-icon i {
   float: right;
   color: #fff;
   margin: 0;
   padding: 0;
   line-height: 50px;
   cursor: pointer;
   text-transform: uppercase;
}


/* Produkt Anfang */
.product {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 240px;
    height: 340px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.25);
    border-radius: 5px;
    overflow: hidden;
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box;
}

.product .imgbox img {
    display: block;
    width: 70%;
    margin: 20px auto 0;
}

.details {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: -150px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: .5s;
}

.product:hover .details {
    bottom: 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0,.25);
}

.details h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

.details h2 span {
    font-size: 14px;
    color: #262626;
    font-weight: normal;
}

.details .price {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
}

.details label {
    display: block;
    margin-top: 13px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
}

.details ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.details ul li {
    list-style: none;
    margin: 5px 5px 0;
    font-size: 12px;
    font-weight: normal;
    color: #262626;
}

.details ul li:first-child {
    margin-left: 0;
}

ul.colors li {
    width: 16px;
    height: 16px;
}

.colors p {
    list-style: none;
    margin: 5px 5px 0;
    font-size: 12px;
    font-weight: normal;
    color: #262626;
}

/* Farbfelder Anfang */
ul.colors li:nth-child(1) {
    background: green;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.25);
}
/* Farbfelder Ende */
.details a {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 15px 0 0;
    background: #dc3545;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.details a:hover {
    color: #fff;
    background-color: #cf000f;
    text-decoration: none;
}

.kontaktdaten{
  margin-left: 20px;
}

.bankdaten{
  margin-left: 20px;
}

.tabelle{
  margin-left: 20px;
}

th{
  text-align: left;
}


/* Produkt Ende */
/*------------------
            Color & Style
             -------------------*/

body {
    background-color: cadetblue;
}

.fa-check-circle {
  color: green;
}
.fa-times-circle {
    color:red
}

/*--------------------------
            Responsive Design
            --------------------*/
@media only screen and (max-width: 600px) {
  .mobile-nav {
    display: block;
  }

  nav {
     background: #262626;
     height: 60px;
     padding: 0;
  }

  nav .logo {
     display: none;
  }

  nav ul {
     position: absolute;
     width: 100%;
     top: 60px;
     left: 0;
     background: #262626;
     float: none;
     display: none;
  }

  nav ul.active {
     display: block;
  }

  nav ul li {
     width: 100%;
  }

  nav ul li a {
     display: block;
     padding: 0;
     width: 100%;
     text-align: center;
     line-height: 30px !important;
     color: #fff;
  }
