.my-skills {
    display: none;
}


.ProduktFlexBox {
    display: flex;
    padding-left: 30%   ;
    

}

.ProduktImage {
    width: 30%;
}

.Placeholder {
    width: "30%";
}


.ProduktText {
 font-size: 1em;
padding-left: 20px;
    width: 35%
}

p {
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 30px;
}

.fa-cart-plus  {
    font-size: 300%;
    padding-top: 15px;

    padding-bottom: 16px;
        width: 100%;
}
.PlusCart {
    background-color: limegreen;
    text-align: center;
    width: 100%;
    height: 30%px;
}
 .PlusCart :hover {
  background-color: yellow;
}

.buttontext {
    text-align: center;
}

if (document.getElementById) {
	var elem = document.getElementById("anzahl");
	if (elem.scrollIntoView) {
		elem.scrollIntoView();
	}
}
/*--------------------------
            Responsive Design
            --------------------*/

@media only screen and (min-width: 600px) {
    .mobmy-skills {
        display: none;
    }
    .my-skills {
        display: block;
    }
    

}
