.my-skills {
    display: none;
}


.ProduktFlexBox {
    display: flex;
    padding-left:  900px;

}

.ProduktImage {
    width: 30%;
}

.Placeholder {
    width: "30%";
}


.ProduktText {
 font-size: 1em;
padding-left: 20px;
}

p {
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 30px;
}

.fa-cart-plus  {
    font-size: 300%;
    padding-top: 15px;
    padding-right: 10px;
}
.PlusCart {
    background-color: limegreen;
    text-align: center;
}

/*--------------------------
            Responsive Design
            --------------------*/

@media only screen and (min-width: 600px) {
    .mobmy-skills {
        display: none;
    }
    .my-skills {
        display: block;
    }
    

}
