
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600&display=swap");

/*---------------------
            Reset
            ---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav.main-nav {
    display: none;
}

/*---------------------
            Layout
            ---------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0 20px;
}

p,
h2,
h3 {
    padding-bottom: 1em;
}

h2 {
    padding-top: 20px;
}

p.img-container {
    width: 50%;
    margin: 0 auto;
}

h1 {
    padding-top: 2em;
}

header {
    height: 30vw;
}

.my-flexbox {
    display: block;
}

.my-skills article {
    width: 100%;
}
iframe{
  text-align:
}

/*---------------------
            Navigation
            ---------------------*/
nav.mobile-nav,
nav.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(50, 60, 70, 0.8);
}

nav.main-nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 20px;
}

nav.main-nav ul li {
    margin-right: 2px;
}

nav.mobile-nav ul li a,
nav.main-nav ul li a {
    color: #000;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1px 5px;
}

nav.mobile-nav ul li a:hover,
nav.main-nav ul li a:hover {
    background-color: rgb(255, 128, 0);
    color: #fff;
}

nav.mobile-nav {
     background-color: transparent;
     height: 50px;
     overflow-y: hidden;
}

nav.mobile-nav ul li {
    margin-bottom: 3px;
}

nav.mobile-nav ul li a {
    display: inline-block;
        background-color: rgba(255, 255, 255, 0.9);
 font-size: 2.5em;
    width: 100%;
}

.burger-icon {
    height: 50px;
    background-color: rgba(20,40,50,0.7);
    padding: 10px 0 0 10px;
}

.burger-icon i {
    font-size: 1.3em;
}

/*---------------------
            Color & Style
            ---------------------*/

header {
    background-image: url(../img/Tokio-skyline.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

section {
    background-color: rgb(180, 190, 200);
    color: #fff;
    border-bottom: 1px solid #fff;
}




/*---------------------
            Typography
            ---------------------*/

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3em;
}

/*---------------------
            Responsive Design
            ---------------------*/

@media only screen and (min-width: 600px) {

    nav.mobile-nav {
    display: none;
}

    nav.main-nav {
    display: block;
}

    body {
        font-size: 1em;
    }


    .my-flexbox {
        display: flex;
    }

    .my-skills article {
        width: 33,33%;
    }
}
